@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Isso pode ser útil para evitar rolagem se o conteúdo exceder a altura da tela */
}

header {
    display: inline-flex;
    align-items: center; /*deixa alinhado ao centro da div horizontalmente*/
    width: 100vw;
    justify-content: center;

  
}

#amanda {
    font-size: 3em;
}
#designer {
    font-size: 3em;
}



@media (min-width: 900px) {
    header {
        margin-left: -110px;
    }
    #amanda {
        margin-right: -30px;
    }
    #designer {
        margin-left: 15px;
    }
}

@media (max-width: 768px) {

    header {
        margin-top: 10px;
        font-size: 10px;
    };

    #neferiti {
        width: 80px;
        height: auto;
        margin-right: 10px;
        margin-left: -10px;
    };
    #amanda {
        margin-left: -40px;
    }
}
